# Target Config
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2712=y
CONFIG_TARGET_bcm27xx_bcm2712_DEVICE_rpi-5=y

# ====== 1. 强行补齐树莓派 5 无线固件（解决无线“待激活”卡死） ======
CONFIG_PACKAGE_brcmfmac-firmware-43455-sdio=y
CONFIG_PACKAGE_brcmfmac-firmware-43456-pcie=y
CONFIG_PACKAGE_brcmfmac-firmware-43012-sdio=y

# ====== 2. 强行开启防火墙内核兼容层（解决 nodogsplash 依赖报错） ======
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y

# ====== 3. 强行将认证插件打包进固件 ======
CONFIG_PACKAGE_nodogsplash=y
CONFIG_PACKAGE_luci-app-nodogsplash=y
CONFIG_PACKAGE_luci-i18n-nodogsplash-zh-cn=y
